.header
  .navWrapper 
    ul.nav
      li.nav__item
        a(href="#Company").nav__link О компании
      li.nav__item
        a(href="#Services").nav__link Услуги
      li.nav__item
        a(href="#Advantages").nav__link Преимущества
    .contactMobile 
      a.contactMobile__link(href="tel:+79258030558") Телефон: +7(925)803-05-58

.mobile-wrapp
  #contain 
    .bar1 
    .bar2 
    .bar3

  ul#nav
    li.mobile-nav__item 
      a(href="#Company").mobile-nav__link О компании
    li.mobile-nav__item 
      a(href="#Services").mobile-nav__link Услуги
    li.mobile-nav__item 
      a(href="#Advantages").mobile-nav__link Преимущества