.mainScreen 
    margin-top 25px
    // wrapper()
    background-image: url(../images/main.jpg)
    background-repeat: no-repeat;
    margin-left 5%
    margin-right 0%
    xs(margin-left, 0px)
    xs(margin-right, 0px)
    xs(padding, 20px)
    &__title-block
        padding-top: 188px
    &__button-block
        padding-top: 90px
        display flex
        align-items: center
    &__wrapper
        padding-left: 300px
        xs(padding-left, 0px)
        xxl(padding-left, 120px)



.titleBlock
    &__text
        font-size 70px
        font-family $ff
        color #fff
        xs(font-size, 56px)

.buttonMain__link
    display flex
    align-items: center
    text-decoration none
    font-family $ff
    color #fff
    font-size 20px
.buttonMain__img 
    margin-left 50px

.mainScreen__button-block
    padding-bottom 250px
    xs(padding-bottom, 180px)

.aboutCompany 
    position relative
    margin-top 150px
    display flex
    xs(flex-wrap, wrap)
    xs(margin-top, 30px)
    &__title
        margin-left 100px
        xs(margin-left, 0px)
        xs(padding, 20px)
        xxl(margin-left, 30px)

    &__text
        margin-top 20px
        width 60%
        font-family $ffL
        font-size 22px
        color $black
        xs(width, 100%)
        xxl(width, 90%)

.blockImg    
    &__back
        top 15%
        width 45%
        height 90%
        position: absolute
        background-color: $style1
        z-index -1

        xs(display, none)
        xxl(width, 35%)
        xxl(height, 87%)
    &__picture
        margin-left 400px
        xs(margin-left, 0px)
        xxl(margin-left, 200px)

.titleBlock__text-dark
    color $black
    &::after
        margin-left -100px
        margin-top 70px
        margin-bottom 70px
        display block
        content ''
        background-color: #2D2D2D
        width 100%
        height 1px
        xs(margin-left,0px)
        xs(margin-top, 20px)
        xs(margin-bottom, 20px)
        xxl(margin-left,0px)
        xs(display, none)
        

.services
    margin-top 100px
    wrapper()
    xs(margin-top, 30px)
    // margin-left 20%
.blockImg__picture img

    // xxl(width, 100%)
    xs(width, 100%)
.servicesList__item img
    width 100%
.servicesList
    display flex
    justify-content: space-between
    xs(flex-wrap, wrap)
    xs(justify-content, center)

    &__item
        width 390px
        display flex
        flex-direction: column
        justify-content: flex-end
        align-items: center
        height 475px
        position relative
        xs(margin-top, 20px)
        xs(width, 100%)

    &__title
        margin-top -150px
        padding-left 22px
        padding-right 22px
        font-size 22px
        color #fff
        font-family $ffL
        text-align center

    &__link 
        color #fff
        text-decoration none
           
    &__container
        display flex
        flex-direction: column
        justify-content: space-evenly
        align-items: center
        

.servicesList__btn 
    padding 50px
    // background-color red
    background-image: url(../images/oval.png)
    background-repeat: no-repeat
    background-position: center

.advantages
    background-color $black
    background-size: 20px
    
    &__wrapper
        wrapper()
        margin-top 100px
    &__container
        display flex
        xs(display, block)

.titleNoline
    &__text
        font-size 48px
        font-family $ff
        color $black

.advantagesList
    display flex
    flex-wrap: wrap
    justify-content: space-between
    &__title

        font-size 26px
        font-family $ff2

    &__opisanie
        font-size 22px
        font-family $ffL
    &__item
        margin-top 150px
        display flex
        flex-direction: column
        justify-content: space-between
        height 150px
        width 40%
        xs(margin-top, 56px)
        xs(width,100%)
        &-order1
            xs(order,1)
            xs(color, #fff)
        &-order2
            xs(order,2)
            xs(color, #fff)
        &-order3
            xs(order,3)
            xs(color, $black !important)
        &-order4
            xs(order,4)
            xs(color, $black !important)
    &__item:nth-child(2n) 
        color #fff

.advantages__title
    position relative
.boxBack
    position: absolute
    width 50%
    margin-top -50px
    height 800px
    background-color $style1
    z-index -1
    right   0
    xs(width, 100%)
    xs(margin-top, 10px)
    xs(height, 53%)

.contactForm
    margin-top 90px
    display flex
    justify-content: space-between
    xs(flex-wrap, wrap)
    xs(margin-top, 20px)
.contactFormBlock
    wrapper()
    margin-top 200px
    padding-left 0px
    xs(margin-top, 50px)
.contactForm__input
    border none
    border-bottom: 1px solid $black
    font-size 22px
    font-family $ffL
    xs(margin-bottom, 10px)

.contactForm__button
    display flex
    xs(margin-top, 10px)

.contactForm__link
    border none
    color $black
    background-color #fff
    font-family $ffL
    font-size 20px
    margin-right 10px

.footer 
    margin-top 200px
    background-color $style1
    xs(margin-top, 20px)

    &__block 
        padding-top 80px
        wrapper()
        display flex
        justify-content: space-between
        xs(flex-wrap, wrap)

.navList 
    &__item
        display block
        margin-bottom 20px
        color #fff
        font-size 22px
        font-family $ffL
        text-decoration none
    
.copyright 
    margin-top 130px
    wrapper()
    display flex
    justify-content: space-between
    xs(flex-wrap, wrap)
    xs(margin-top,50px)
    &__img
        margin-left 10px

    &__logo
        display flex
        
    &__text
        color #fff
        font-size 20px
        font-family $ffL
        xs(font-size,16px)

// МОДАЛЬНОЕ ОКНО
.popup-fade 
	display: none;

.popup-fade:before 
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;

.popup
    padding: 70px 50px
    position: fixed
    top 50%
    left 50%
    transform: translate(-50%, -50%)
    background: #fff
    z-index 99999
    opacity 1
    width 50%
    xs(height, 80%)
    xs(width, 90%)
    xs(padding, 10px 30px)
    xs(overflow-x, hidden)
    xs(overflow-y, auto)


.bodyModal
    padding: 70px 50px
    xs(padding, 70px 10px)
    &__text
        font-size 20px
        font-family $ffL
        xs(font-size, 16px)
    &__item
        margin-bottom 15px

.headerModal
    &__title 
        font-size 50px
        font-family $ff
        xs(font-size, 36px)

.popup-close 
	position: absolute
	top: 20px
	right: 20px

.headerModal::after
    margin-top 35px
    position: absolute
    left 0
    content: ''
    display block
    width 60%
    height 1px
    background-color: #000

.buttonMain__modal
    padding-left 50px
    font-size 20px
    font-family $ffL
    text-decoration none
    xs(padding-left, 10px)

.buttonMain
    display flex
    