@font-face {
  font-family: "ardeco";
  src: url("../fonts/ardeco.woff") format("woff"),
    url("../fonts/ardeco.woff2") format("woff2"),
    url("../fonts/ardeco.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Robotocondensedlight";
  src: url("../fonts/Robotocondensedlight.woff") format("woff"),
    url("../fonts/Robotocondensedlight.woff2") format("woff2"),
    url("../fonts/Robotocondensedlight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Robotocondensed";
  src: url("../fonts/Robotocondensed.woff") format("woff"),
    url("../fonts/Robotocondensed.woff2") format("woff2"),
    url("../fonts/Robotocondensed.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Robotocondensedbold";
  src: url("../fonts/Robotocondensedbold.woff") format("woff"),
    url("../fonts/Robotocondensedbold.woff2") format("woff2"),
    url("../fonts/Robotocondensedbold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

